<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- Toolbar -->
<!-- <div class="container">
   <div class="row">
      <h3 class="bg-info text-center text-white font-weight-bold col-lg-12 col-xl-12 col-sm-12 col-12" style="font-size: small;padding: 5px;">User Registration Form</h3>
      <br><br>
      <div class="form-bg">
         <form action="" method="post" #regForm="ngForm" (ngSubmit)="Register(regForm)" style="-webkit-column-width: 1200px;">
            <div class="form-group">
               <label for="fname">First Name</label>
               <input type="text" class="form-control" name="firstname" placeholder="Enter First Name" ngModel>
            </div>
            <div class="form-group">
               <label for="lname">Last Name</label>
               <input type="text" class="form-control" name="lasttname" placeholder="Enter Last Name" ngModel>
            </div>
            <div class="form-group">
               <label for="email">Email</label>
               <input type="email" class="form-control" name="email" placeholder="Enter Email" ngModel>
            </div>
            <div class="form-group">
               <label for="course">Course</label>
               <input type="text" class="form-control" name="course" placeholder="Enter Course" ngModel>
            </div>
            <div class="text-center">
               <button type="submit" class="btn btn-primary ">Register</button>
            </div>
         </form>

      </div>

   </div>  
</div> -->
<br>
<div class="container">
   <div class="row">
      <h3 class="bg-info text-center text-white font-weight-bold col-lg-12 col-xl-12 col-sm-12 col-12" style="font-size: small;padding: 5px;">company Registration Form</h3>
      <br><br>
      <div class="form-bg">
         <form action="" method="post" #userForm="ngForm" (ngSubmit)="companyRegister(userForm)" style="-webkit-column-width: 1200px;">
            <h4>choose atleast one company</h4>
            <table>
               <div class="form-group">
               <tr>
                  <td><input type="checkbox" name="company" value="paxcom" [ngModel]="companyForm.companyName" #company="ngModel" required></td>
                  <td>Paxcom</td>
               </tr>
               <tr>
                  <td><input type="checkbox" name="company" value="paxcel" [ngModel]="companyForm.companyName" #company="ngModel" required></td>
                  <td>Paxcel</td>
               </tr>
               <tr>
                  <td><input type="checkbox" name="company" value="paymentus" [ngModel]="companyForm.companyName" #company="ngModel" required></td>
                  <td>Paymentus</td>
               </tr>
               <span *ngIf="company.invalid" class="text-warning">
                     Please select any one company.
               </span>
            </div>
            <h4>Choose Projects</h4>
            <div class="form-group">
            <tr>
                  <td>
                     <select name="projects" id="" [ngModel]="companyForm.projectName" #projects="ngModel" required>
                        <optgroup label="Billing Projects">
                           <option value="PaymentusBilling">Paymentus Billing</option>
                           <option value="ABCBilling">ABC Billing</option>
                        </optgroup>
                        <optgroup label="Learning Tutorials Projects">
                           <option value="javatpoint">Javatpoint Learning Tutorials</option>
                           <option value="W3CSchool">W3CSchool Learning Tutorials</option>
                        </optgroup>
                     </select>
                     <option value="PaymentusBilling">Paymentus Billing</option>
                  </td>
            </tr>
            <span *ngIf="projects.invalid" class="text-warning">
               Please select any one company.
         </span>
         </div>
            <h4>Project Description : </h4>
            <div class="form-group">
            <tr>
               <td><input type="text" name="descriptionForCompany" [ngModel]="companyForm.description" #descriptionForCompany="ngModel" required></td>
            </tr>
            <span *ngIf="descriptionForCompany.invalid" class="text-warning">
                  Please Give Description about the company.
            </span>
         </div>
         <div class="form-group">
            <tr>
               <td><input type="text" name="compId" [ngModel]="companyForm.description" #compId="ngModel" required></td>
            </tr>
            <span *ngIf="compId.invalid" class="text-warning">
                  Please Give Id for company.
            </span>
         </div>
         <div class="form-group">
            <tr>
               <td><button class="btn btn-primary">Register Company</button></td>
            </tr>
            
         </div>

            </table>
         </form>
       </div>
   </div>


</div>

<router-outlet></router-outlet>
